-#= stylesheet_link_tag "application", :media => "all"
%link{:rel => "stylesheet", :href => "/stylesheets/bootstrap.css"}
%link{:rel => "stylesheet", :href => "/stylesheets/bootstrap-responsive.css"}
%link{:rel => "stylesheet", :href => "/stylesheets/application.css"}
%link{:rel => "stylesheet", :href => "/stylesheets/joyride-1.0.3.css"}