= javascript_include_tag 'application'
%script{:type => "text/javascript", :src => "/js/bootstrap-transition.js", :charset => "utf-8"}
%script{:type => "text/javascript", :src => "/js/bootstrap-alert.js", :charset => "utf-8"}
%script{:type => "text/javascript", :src => "/js/bootstrap-dropdown.js", :charset => "utf-8"}
%script{:type => "text/javascript", :src => "/js/bootstrap-modal.js", :charset => "utf-8"}
%script{:type => "text/javascript", :src => "/js/bootstrap-scrollspy.js", :charset => "utf-8"}
%script{:type => "text/javascript", :src => "/js/bootstrap-tab.js", :charset => "utf-8"}
%script{:type => "text/javascript", :src => "/js/bootstrap-tooltip.js", :charset => "utf-8"}
%script{:type => "text/javascript", :src => "/js/bootstrap-popover.js", :charset => "utf-8"}
%script{:type => "text/javascript", :src => "/js/bootstrap-button.js", :charset => "utf-8"}
%script{:type => "text/javascript", :src => "/js/bootstrap-collapse.js", :charset => "utf-8"}
%script{:type => "text/javascript", :src => "/js/bootstrap-carousel.js", :charset => "utf-8"}
%script{:type => "text/javascript", :src => "/js/bootstrap-typeahead.js", :charset => "utf-8"}
%script{:type => "text/javascript", :src => "/js/real_go_top.js", :charset => "utf-8"}
%script{:type => "text/javascript", :src => "/js/jquery.joyride-1.0.3.js", :charset => "utf-8"}
%script{:type => "text/javascript", :src => "/js/hoveredit.jquery.min.js", :charset => "utf-8"}
%script{:type => "text/javascript", :src => "/js/autoresize.jquery.min.js", :charset => "utf-8"}

%script(src="//html5shim.googlecode.com/svn/trunk/html5.js")