= csrf_meta_tags
%meta(charset="utf-8")
%title= "Real Thematics - Share your topics"
%meta(name="viewport" content="width=device-width, initial-scale=1.0")
%meta(name="description" content="Find and share useful resources socially and more effectively")
%meta(name="author" content="The Real Team")