<div class="container-fluid">
  	<div class="span6">
    	<div>
		<h1>Settings</h1>
		<hr>
		<ul>
			<!--<li>-->
				<!--<p>-->
					<!--<img src="http://placehold.it/128x128" alt="">-->
					<!--<button class="btn btn-small btn-primary">Choose file...</button>-->
					<!--<button class="btn btn-small btn-primary">Upload</button>-->
				<!--</p>-->
			<!--</li>-->
			<li><label>Email Address</label><input placeholder="Change Email..."></input></li>
			<li><label>Password</label><input placeholder="Change Password..." type="password"></input></li>
		</ul>

            <div class="span6">
		    <button class="btn btn-large btn-primary">Save</button>
            </div>
	</div><!--/span-->
  	</div><!--/row-->
</div><!--/.fluid-container-->